* {
    font-family: Droid Sans Mono, monospace;
    font-size: 0.85rem;
    line-height: 0.85rem;
}

/** CONFIG **/
#config * {
    font-size: 1rem;
}
#config h1 {
    font-size: 1.5rem;
}
#config h2 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-size: 1.25rem;
}
#config div {
    padding: 1em;
}
#config label {
    padding-left: 1ex;
    cursor: pointer;
}
#config input[type="text"] {
    margin: 0.2em 0 0 0;
    width: 8ex;
}

/** MARKET **/
#market {
    float: left;
}

#market .header {
    margin-right: 1em;
}
#market h1,
#market h2 {
    margin: 0;
    width: 25%;
    display: inline-block;
}

#market h1 {
    text-transform: lowercase;
    font-size: 1.5em;
    cursor: pointer;
    text-align: left;
}
#market h2 {
    font-size: 1.1em;
    cursor: default;
    text-align: center;
}

#market .header,
#market .scroll,
#market table {
    min-width: 70ex;
}

#market table, tr, td, th {
    border: 0;
    border-collapse: collapse;
}
#market table, td, th {
    text-align: center;
    font-size: 1em;
}
#market td, th {
    padding: 1px;
    outline: 0.2px solid rgba(255,255,255,0.4) ;
}

#market > div {
    float: left;
    position: relative;
    margin: 0 1ex 2ex 0;
}

#market div.scroll {
    max-height: 97vh;
    overflow: scroll;
}

#market td, th {
    overflow: hidden;
}

/** colors **/
#market th {
    background-color: silver;
}

#market td {
    background-color: white;
}

#market td:empty {
    background-color: white !important;
}

/** blue **/
#market [data-age="0"] .blue { background-color: rgba(105, 177, 190, 1.0); }
#market [data-age="1"] .blue { background-color: rgba(105, 177, 190, 0.9); }
#market [data-age="2"] .blue { background-color: rgba(105, 177, 190, 0.8); }
#market [data-age="3"] .blue { background-color: rgba(105, 177, 190, 0.7); }
#market [data-age="4"] .blue { background-color: rgba(105, 177, 190, 0.6); }
#market .blue {                background-color: rgba(105, 177, 190, 0.5); }

/** green **/
/*background-color: #98dc98;*/
#market [data-age="0"] .green { background-color: rgba(108, 197, 108, 1.0); }
#market [data-age="1"] .green { background-color: rgba(108, 197, 108, 0.9); }
#market [data-age="2"] .green { background-color: rgba(108, 197, 108, 0.8); }
#market [data-age="3"] .green { background-color: rgba(108, 197, 108, 0.7); }
#market [data-age="4"] .green { background-color: rgba(108, 197, 108, 0.6); }
#market .green {                background-color: rgba(108, 197, 108, 0.5); }

/** red **/
/*background-color: #dc9a98;*/
#market [data-age="0"] .red { background-color: rgba(191, 116, 114, 0.9); }
#market [data-age="1"] .red { background-color: rgba(191, 116, 114, 0.8); }
#market [data-age="2"] .red { background-color: rgba(191, 116, 114, 0.7); }
#market [data-age="3"] .red { background-color: rgba(191, 116, 114, 0.6); }
#market [data-age="4"] .red { background-color: rgba(191, 116, 114, 0.5); }
#market .red {                background-color: rgba(191, 116, 114, 0.4); }

/** widths **/
#market td.volume,
#market th.volume,
#market td.sum,
#market th.sum,
#market td.price,
#market th.price {
    min-width: 11ex;
}

/** formatting **/
#market .num {
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}
#market neg {
    color: red;
}
#market dec {
    display: inline-block;
    font-size: 0.85rem;
    padding-left: 1.5ex;
}
#market frac {
    display: inline-block;
    font-size: 1rem;
    padding-right: 0.5ex;
}
#market xch {
    padding-left: 0.1ex;
    padding-right: 0.1ex;
}

/** graph mode **/
#market.graph td * {
    display: none !important;
}

#market.graph table,
#market.graph td,
#market.graph th {
    border: 0;
}

#market.graph div.scroll {
    overflow: hidden;
}

/** dark theme */
body.dark  {
    background-color: black;
    color: rgba(255,255,255,0.8);
}
body.dark #market th {
    background-color: darkgray;
}
body.dark #market td {
    background-color: black;
}
body.dark #market td:empty {
    background-color: black !important;
}
body.dark #market td, th {
    outline: 0.2px solid rgba(0,0,0,0.25) ;
}

/** blue **/
body.dark #market [data-age="0"] .blue { background-color: rgba(105, 177, 190, 1.0); }
body.dark #market [data-age="1"] .blue { background-color: rgba(105, 177, 190, 0.9); }
body.dark #market [data-age="2"] .blue { background-color: rgba(105, 177, 190, 0.8); }
body.dark #market [data-age="3"] .blue { background-color: rgba(105, 177, 190, 0.7); }
body.dark #market [data-age="4"] .blue { background-color: rgba(105, 177, 190, 0.6); }
body.dark #market .blue {                background-color: rgba(105, 177, 190, 0.5); }

/** green **/
/*background-color: #98dc98;*/
body.dark #market [data-age="0"] .green { background-color: rgba(108, 197, 108, 1.0); }
body.dark #market [data-age="1"] .green { background-color: rgba(108, 197, 108, 0.9); }
body.dark #market [data-age="2"] .green { background-color: rgba(108, 197, 108, 0.8); }
body.dark #market [data-age="3"] .green { background-color: rgba(108, 197, 108, 0.7); }
body.dark #market [data-age="4"] .green { background-color: rgba(108, 197, 108, 0.6); }
body.dark #market .green {                background-color: rgba(108, 197, 108, 0.5); }

/** red **/
/*background-color: #dc9a98;*/
body.dark #market [data-age="0"] .red { background-color: rgba(191, 116, 114, 0.9); }
body.dark #market [data-age="1"] .red { background-color: rgba(191, 116, 114, 0.8); }
body.dark #market [data-age="2"] .red { background-color: rgba(191, 116, 114, 0.7); }
body.dark #market [data-age="3"] .red { background-color: rgba(191, 116, 114, 0.6); }
body.dark #market [data-age="4"] .red { background-color: rgba(191, 116, 114, 0.5); }
body.dark #market .red {                background-color: rgba(191, 116, 114, 0.4); }

#dukas {
    width: 425px;
}

